In [1]:
import pandas as pd

In [2]:
from sklearn import tree

In [3]:
data=pd.read_csv('music.csv')

In [4]:
data.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [5]:
# from sklearn.preprocessing import LabelEncoder

In [6]:
# g=LabelEncoder()

In [7]:
# data.genre=g.fit_transform(data.genre)

In [8]:
# data.head()

In [9]:
target=data['genre']

In [10]:
data=data.drop('genre',axis='columns')

In [11]:
data.head()

   age  gender
0   20       1
1   23       1
2   25       1
3   26       1
4   29       1

In [12]:
tre=tree.DecisionTreeClassifier()

In [13]:
tre.fit(data,target)

DecisionTreeClassifier()

In [14]:
tre.score(data,target)

1.0

In [22]:
tre.predict([[25,1]])

array(['HipHop'], dtype=object)