In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
data=pd.read_csv('../input/titanic/train.csv')
suv=data['Survived']

In [3]:
data.shape

(891, 12)

In [4]:
data.Sex[data.Sex == 'male'] = 1
data.Sex[data.Sex == 'female'] = 0
data

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
m=np.mean(data['Age'])
m

29.69911764705882

In [6]:
data.Age=data['Age'].fillna(m)

In [7]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [8]:
data=data.drop(['Survived','SibSp','Parch','Cabin','Embarked','Ticket','Name'], axis='columns')

In [9]:
data.isnull().sum()
data=data.dropna()

In [10]:
data.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
Fare           0
dtype: int64

In [11]:
data

     PassengerId  Pclass Sex        Age     Fare
0              1       3   1  22.000000   7.2500
1              2       1   0  38.000000  71.2833
2              3       3   0  26.000000   7.9250
3              4       1   0  35.000000  53.1000
4              5       3   1  35.000000   8.0500
..           ...     ...  ..        ...      ...
886          887       2   1  27.000000  13.0000
887          888       1   0  19.000000  30.0000
888          889       3   0  29.699118  23.4500
889          890       1   1  26.000000  30.0000
890          891       3   1  32.000000   7.7500

[891 rows x 5 columns]

In [12]:

tes=pd.read_csv('../input/titanic/test.csv')
tes=tes.drop(['SibSp','Parch','Cabin','Embarked','Ticket','Name'], axis='columns')
tes.Sex[tes.Sex == 'male'] = 1
tes.Sex[tes.Sex == 'female'] = 0
tes

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

     PassengerId  Pclass Sex   Age      Fare
0            892       3   1  34.5    7.8292
1            893       3   0  47.0    7.0000
2            894       2   1  62.0    9.6875
3            895       3   1  27.0    8.6625
4            896       3   0  22.0   12.2875
..           ...     ...  ..   ...       ...
413         1305       3   1   NaN    8.0500
414         1306       1   0  39.0  108.9000
415         1307       3   1  38.5    7.2500
416         1308       3   1   NaN    8.0500
417         1309       3   1   NaN   22.3583

[418 rows x 5 columns]

In [13]:
a=np.mean(tes['Age'])
a

30.272590361445783

In [14]:
tes.Age=tes['Age'].fillna(m)
tes

     PassengerId  Pclass Sex        Age      Fare
0            892       3   1  34.500000    7.8292
1            893       3   0  47.000000    7.0000
2            894       2   1  62.000000    9.6875
3            895       3   1  27.000000    8.6625
4            896       3   0  22.000000   12.2875
..           ...     ...  ..        ...       ...
413         1305       3   1  29.699118    8.0500
414         1306       1   0  39.000000  108.9000
415         1307       3   1  38.500000    7.2500
416         1308       3   1  29.699118    8.0500
417         1309       3   1  29.699118   22.3583

[418 rows x 5 columns]

In [15]:
tes=tes.dropna()
tes.isnull().sum()
tes
newf=tes.drop(['Pclass','Age','Fare','Sex'],axis='columns')

In [16]:
from sklearn import linear_model 
from sklearn.model_selection import train_test_split 
reg=linear_model.LogisticRegression()
xtest,xtrain,ytest,ytrain=train_test_split(data,suv,train_size=1)

In [17]:
reg.fit(xtrain,ytrain)

LogisticRegression()

In [18]:
xtest=tes

In [19]:
sp=reg.predict(xtest)

In [20]:
newf['Survived']=sp
newf

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[417 rows x 2 columns]

In [21]:
newf.to_csv('solution.csv',index=False)